@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';
/* Other custom styles or imports */

.second-holder {
    grid-template-columns: 30% 29% 39%;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
}

nav {
    width: 100vw;
    max-width: 1280px;
    margin: 0 auto;
}