@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';
/* Other custom styles or imports */

.home {
    background: conic-gradient(from 45deg at center, #1c1c1c, #0b2a0d, #003f00);

}

.images {
    column-count: 2;
    column-gap: 10px
}

.image-holder {
    margin-bottom: 20px;
}

img {
    border-radius: 10px;
}

.social svg {
    transition: all .2s linear;
    fill: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.social svg path {
    fill: white;
}

.social svg:hover {
    transform: scale(0.9) rotate(10deg) translateY(-10px);
    fill: #8CB369;

}

.social svg path:hover {
    fill: #8CB369;

}

html {
    scroll-behavior: smooth;
}

.squiggle img {
    padding: 30px;
}


.holder {
    border-radius: 10px;
    border-bottom: 4px solid black;

    & p {
        color: black;
    }
    & img{
    filter: grayscale(100);
    }
}
