@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';
/* Other custom styles or imports */

.home {
    background: conic-gradient(from 45deg at center, #1c1c1c, #0b2a0d, #003f00);

}

.images {
    column-count: 2;
    column-gap: 10px
}
.image-holder{
    margin-bottom: 20px;
}

img {
    border-radius: 10px;
}